@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* ============= GLOBAL CSS =============== */

/* CSS Reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* APP Specific Styling */
html {
  font-size: 100%; /* 1rem = 16px */
}

:root {
  --black: #000000;
  --blue: #336699;
  --white: #ffffff;
  --grey: #464646;
  --red: #FF0000;

  --text-color: var(--black);
  --text-color-secondary: var(--blue);
  --border-color: var(--grey);
  --border-color-secondary: var(--blue);
  --background-color: var(--white);

  /* text */
  --base-text: 1rem;
  --small-text: 0.8rem;
  --extra-small-text: 0.7rem;

  /* others */
  --transition: 0.2s all ease-in-out;
  --line-height: 1.4;
}

body {
  font-family: 'Roboto', serif;
  color: var(--text-color);
  background: var(--background-color);
  line-height: var(--line-height);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.08rem;
}

p {
  font-size: 1rem;
}

ul {
  padding-left: 1rem;
}

.text-center {
  text-align: center;
}

.w-full {
  width: 100%;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.small-text {
  font-size: var(--small-text);
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 119%; /* 1rem = 19.04px */
  }
}
