name: Build, Deploy to AWS S3, Invalidate CloudFront and E2E Test

on:
  push:
    branches: ['master']

jobs:
  build-deploy:
    name: Build code and deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ secrets.NODE_VERSION}}

      - name: Install Dependencies
        working-directory: ./frontend #Explicitly set the working directory to /frontend for this step.
        run: npm install

      - name: Build the React Front-End
        working-directory: ./frontend #Explicitly set the working directory to /frontend for this step.
        run: npm run build

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: us-west-2

      - name: Deploy to AWS S3
        working-directory: ./frontend #Explicitly set the working directory to /frontend for this step.
        run: aws s3 sync ./dist s3://jt-resume-front-end --delete --follow-symlinks --acl private --exclude '.git/*'

  cloudfront-invalidation:
    name: Invalidate CloudFront once deploy
    needs: build-deploy #Identify 'build-deploy' job that must complete successfully before this job will run
    runs-on: ubuntu-latest

    steps:
      - name: Invalidate CloudFront
        uses: chetan/invalidate-cloudfront-action@v2 #Marketplace action
        env:
          DISTRIBUTION: ${{ secrets.DISTRIBUTION }}
          PATHS: '/*'
          AWS_REGION: 'us-west-2'
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}

  cypress-run:
    name: Perform E2E test against the deployed website
    needs: cloudfront-invalidation #Identify 'cloudfront-invalidation' job that must complete successfully before this job will run
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Install npm dependencies, cache them correctly and run all Cypress tests
      - name: Cypress tests
        uses: cypress-io/github-action@v6
        with:
          working-directory: ./frontend #Explicitly set the working directory to /frontend for this step.
          config: baseUrl=${{ secrets.CYPRESS_BASE_URL }} #Set production website URL
          browser: chrome
